/*--------- Google font link --------- */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/*--------- Common CSS --------- */
*{
    scroll-behavior: smooth;
    font-family: "Rajdhani", sans-serif;
}

/*--------- Variable --------- */
:root {
    --brand-color: #0ef;
    --white-color: #ffff;
    --dark-1: #1f242d;
    --dark-2: #323946;
}
/*---------  --------- */
.btn-custom{
    display: inline-block;
    padding: 5px 30px;
    background: var(--brand-color);
    border-radius: 20px;
    color: var(--dark-1);
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.2s all linear;
}
.btn-custom:hover{
    box-shadow: 0 0 1rem var(--brand-color);
}
.sticky_navbar{
    position: fixed;
    max-width: 1200px;
    margin: 0 auto;
    top: 0;
}
.social_icon:hover{
    transition: 0.2s all linear;
    box-shadow: 0 0 1rem var(--brand-color);
}
.banner_image{
    animation: upanddown 3s ease-in-out infinite;
}
@keyframes upanddown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
}
/*---------  --------- */
